.pageFixed {
    position: fixed;
}

body:has(.pageFixed) {
    overflow: hidden;
    
    .scroll-to-top-button {
        z-index: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (min-width: 1024px) {
    .container {
        gap: 100px;
    }
}