.checkbox {
    position: relative;

    .checkbox-input {
        &--checkbox {
            position: absolute;
            width: 20px;
            height: 20px;
            opacity: 0;

            & + label {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                &:before {
                    display: block;
                    content: "";
                    border: 1px solid var(--third-border-color);
                    height: 20px;
                    width: 20px;
                    opacity: 1;
                }
            }

            &:checked {
                & + label {
                    &:before {
                        background: center / contain no-repeat url(../../../../themes/husserl/asset/img/check-mark.svg);
                    }
                }
            }
        }
    }
}

.checkbox.active {
    .checkbox-input {
        &--checkbox {
            & + label {
                &:before {
                    background: center / contain no-repeat url(../../../../themes/husserl/asset/img/check-mark.svg);
                }
            }
        }
    }
}