//mobile 
.hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    .hero-image {
        width: 100%;
        height: 354px;

        img {
            object-fit: cover;
        }
    }

    .hero-text-section {
        padding: 0 30px;
        width: 100%;
        
        .hero-text {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .hero-info {
                margin-bottom: 20px;
            }
        }
    }
}

//desktop
@media screen and (min-width: 1024px) {
    .hero {
        height: calc(100vh - 90px);
        position: relative;

        .hero-image {
            height: 100%;
            position: absolute;
            z-index: 0;
        }

        .hero-text-section {
            height: 100%;
            max-width: 900px;
            display: flex;
            align-items: flex-end;
            z-index: 1;
            position: relative;
            padding: 0 60px 80px 60px;
            color: var(--secondary-text-color);
        }
    }
}