.page-breadcrumb {
    padding: 0 30px;

    .breadcrumb-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        
        .breadcrumb-item:not(:first-child)::before {
            content: "/";
            padding-right: 10px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .page-breadcrumb {
        padding: 0 60px;
    }
}