.page-breadcrumb {
    .breadcrumb-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        
        .breadcrumb-item:not(:first-child)::before {
            content: "/";
            padding-right: 10px;
        }
    }
}