$colors: (
    //colors
    primary-color: #00407A,
    secondary-color: #202020,
    third-color: #F7F7F7,
    fourth-color: #FFFFFF,
    fifth-color: #000000,
    sixth-color: #D3E3F2,
    seventh-color: #BEBEBE,
    eight-color: #D8D8D8,

    //bg-colors
    primary-bg-color: #F7F7F7,
    secondary-bg-color: #00407A,
    third-bg-color: #FFFFFF,
    fourth-bg-color: #D3E3F2,
    fifth-bg-color: #D8D8D8,
    sixth-bg-color: #202020,

    //text-colors
    primary-text-color: #202020,
    secondary-text-color: #F7F7F7,
    third-text-color: #00407A,
    fourt-text-color: #000000,
    fifth-text-color: #BEBEBE,

    //border-colors
    primary-border-color: #202020,
    secondary-border-color: #00407A,
    third-border-color: #F7F7F7,
    fourth-border-color: #BEBEBE,
);

$fonts: (
    main-font: "'Montserrat', serif",
    second-font: "'Noto Serif', serif",
);

$fontweights: (
    bold: 700,
    semi: 600,
    medium: 500,
    regular: 400,
    light: 300,
    extra-light: 200,
);

$fontsizes: (
    h1-desktop: 74px,
    h1-mobile: 46px,
    h2-desktop: 48px,
    h2-mobile: 40px,
    h3-desktop: 36px,
    h3-mobile: 32px,
    h4: 30px,
    h5-desktop: 24px,
    h5-mobile: 20px,
    h6-desktop: 20px,
    h6-mobile: 16px,
    body: 16px,
    big-body: 20px,
    small: 14px,
    button: 20px,
    nav-item: 20px,
    footer-list-title-desktop: 36px,
    footer-list-title-mobile: 28px,
    footer-item-desktop: 22px,
    footer-item-mobile: 18px,
    logo-mobile: 20px,
    logo-desktop: 24px,
    logo-footer: 40px,
);