$colors: (
    //colors
    primay-color: #E09132,
    secondary-color: #5D2510,
    third-color: #202020,
    fourth-color: #F7F7F7,
    fifth-color: #FFFFFF,
    sixth-color: #E2D1CB,
    seventh-color: #BEBEBE,

    //bg-colors
    primary-bg-color: #F7F7F7,
    secondary-bg-color: #E09132,
    third-bg-color: #FFFFFF,
    fourth-bg-color: #5D2510,
    fifth-bg-color: #E2D1CB,

    //text-colors
    primary-text-color: #202020,
    secondary-text-color: #F7F7F7,
    third-text-color: #5d2510,
    fourth-text-color: #BEBEBE,

    //border-colors
)